html, #root, .App, body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: blue;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid lightgray;
}

.header__logo {
  width: 4rem;
}

.header__name {
  display: flex;
}

.header__name__heading {
  font-size: 1.5rem;
}

.navigation-container {
  float: right;
  height: 4rem;
}

.navigation-list {
  display: flex;
  list-style-type: none;
}

.navigation-list__link {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.active {
  color: red;
}

body {
  display: flex;
  flex-direction: column;
}

.main-container {
  margin: 1rem;
  border: 0.15rem solid black;
  display: flex;
  flex-grow: 1;
}

.main {
  margin: 1rem;
  flex-grow: 1;
}

.misdemeanour-card {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}

.misdemeanour-card__text {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-right: 0.1rem solid black;
  width: 20%;
}