@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

html, #root, .App, body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Didact Gothic';
}

a {
  text-decoration: none;
  color: darkmagenta;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid lightgray;
  color: darkmagenta;
}

.header__logo {
  width: 4rem;
}

.header__name {
  display: flex;
}

.header__name__heading {
  font-size: 1.5rem;
}

.navigation-container {
  float: right;
  height: 4rem;
}

.navigation-list {
  display: flex;
  list-style-type: none;
}

.navigation-list__link {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.active {
  color: blue;
}

body {
  display: flex;
  flex-direction: column;
}

.main-container {
  margin: 1rem;
  border: 0.15rem solid black;
  display: flex;
  flex-grow: 1;
}

.main {
  margin: 1rem;
  flex-grow: 1;
}

.misdemeanour-container__headings{
  display: flex;
}

.misdemeanour-container__headings__heading{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 23%;
}

.misdemeanour-card {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  border: 0.1rem solid black;
}

.misdemeanour-card__text {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-right: 0.1rem solid black;
  width: 23%;
}

.confess__form {
  display: flex;
  flex-direction: column;
  border: 0.15rem solid black;
}

.confess__subject {
  margin: 0.5rem;
}

.confess__reason {
  margin: 0.5rem;
}

.confess__details {
  margin: 0.5rem;
}